[build]
  command = "npm run build"
  functions = "functions" 
  publish = "dist"

[dev]
  command = "npm start"
  functions = "functions" 
  publish = "dist"
  port=8000 # destination port to use in browser. Lambda dev server is started on same port
  targetPort=3000 # port that local rollup server is running on

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200